# Tutorial

This tutorial will teach you the basics of using the Cozo database.

You should open [Cozo in WASM](https://cozodb.github.io/wasm-demo/) in a separate browser window and run the queries as you go along. 
If you are familiar with the Python datascience stack, you should following the instruction [here](https://github.com/cozodb/pycozo) instead
to run this notebook in Jupyter.

The following cell is to set up the Jupyter notebook. Ignore if you are using the browser.

In [1]:
%load_ext pycozo.ipyext_direct

## Hello world relations

Cozo is a relational database. The "hello world" query

In [2]:
?[] <- [['hello', 'world', 'Cozo!']]

simply passes an ad hoc relation represented by a list of lists to the database, and the database echoes it back.

You can pass more rows, or a different number of columns:

In [3]:
?[] <- [[1, 2, 3], ['a', 'b', 'c']]

This example shows how to enter literals for numbers, strings, booleans and `null`:

In [4]:
?[] <- [[1.5, 2.5, 3, 4, 5.5], 
        ['aA', 'bB', 'cC', 'dD', 'eE'], 
        [true, false, null, -1.4e-2, "A string with double quotes"]]

The input literal representations are similar to those in JavaScript. 
In particular, strings in double quotes are guaranteed to be interpreted in the same way as in JSON.
The output are in JSON, but how they appear on your screen depends on your setup.
For example, if you are using a Python setup, booleans are displayed as `True` and `False` instead of in lowercase,
since they are converted to the native Python datatypes for display.

In the last example, you may have noticed that the returned order is not the same as the input order.
This is because in Cozo relations are always stored as trees, and trees are always sorted.

Another consequence of relations as trees is that you can have no duplicate rows:

In [5]:
?[] <- [[1], [2], [1], [2], [1]]

Relations in Cozo follow _set semantics_ where de-duplication is automatic. 
By contrast, SQL usually follows _bag semantics_ (some databases do this by secretly having a unique internal key for every row, in Cozo you must do this explicitly if you need to simulate duplicate rows).

Why does Cozo break tradition and go with set semantics?
Set semantics is much more convenient when you have recursions between relations involved,
and Cozo is designed to deal with complex recursions.

## Expressions

The next example shows the use of various expressions and comments:

In [6]:
?[] <- [[
            1 + 2, # addition
            3 / 4, # division
            5 == 6, # equality
            7 > 8, # greater
            true || false, # or
            false && true, # and
            lowercase('HELLO'), # function
            rand_float(), # function taking no argument
            union([1, 2, 3], [3, 4, 5], [5, 6, 7]), # variadic function
        ]]

See [here](https://cozodb.github.io/current/manual/functions.html) for the full list of functions you can use to build expressions.
The syntax is deliberately C-like.

## Rules and relations

Previous examples all start with `?[] <-`.
The notation denotes a _rule_ named `?`. It is a _constant rule_ since it uses `<-`.
The part after `?` and before `<-` is the _head_ of the rule, and the part after `<-` is the _body_.

Rules can have other names, but the rule named `?` is special in that its evaluation determines the return relation of the query.

We can give _bindings_ in the _head_ of rules:

In [7]:
?[first, second, third] <- [[1, 2, 3], ['a', 'b', 'c']]

For constant rules, the number of bindings must match the actual data (the _arity_), otherwise, you will get an error:

In [8]:
?[first, second] <- [[1, 2, 3], ['a', 'b', 'c']]

parser::fixed_rule_head_arity_mismatch

  × Fixed rule head arity mismatch
   ╭────
 1 │ ?[first, second] <- [[1, 2, 3], ['a', 'b', 'c']]
   · ─────────────────────────────────────────────────
   ╰────
  help: Expected arity: 3, number of arguments given: 2

Now let's define rules that _apply_ (use) other rules:

In [9]:
rule[first, second, third] <- [[1, 2, 3], ['a', 'b', 'c']]
?[a, b, c] := rule[a, b, c]

This first line defines a constant rule named `rule`. The `?` rule is now an _inline rule_, denoted by the connecting symbol `:=`. In its body it applies the fixed rule, by giving the name of the rule followed by three _fresh bindings_, which are the _variables_ `a`, `b` and `c`.

With inline rules, you can manipulate the order of the columns, or specify which columns are returned:

In [10]:
rule[first, second, third] <- [[1, 2, 3], ['a', 'b', 'c']]
?[c, b] := rule[a, b, c]

The body of an inline rule consists of _atoms_. 
The previous example has a single _application atom_ as the body. Multiple atoms are connected by commas:

In [11]:
?[c, b] := rule[a, b, c], is_num(a)
rule[first, second, third] <- [[1, 2, 3], ['a', 'b', 'c']]

Here the second atom is an _expression_ `is_num(a)`. 
Expression atoms act as filters, so only rows for which the expression evaluates to `true` are returned. 
The order in which the rules are given is immaterial.

You can also bind constants to rule applications directly:

In [12]:
rule[first, second, third] <- [[1, 2, 3], ['a', 'b', 'c']]
?[c, b] := rule['a', b, c]

You introduce additional bindings with the _unification operator_ `=`:

In [13]:
rule[first, second, third] <- [[1, 2, 3], ['a', 'b', 'c']]
?[c, b, d] := rule[a, b, c], is_num(a), d = a + b + 2*c

Having multiple rule applications in the body generates every combination of the bindings:

In [14]:
r1[] <- [[1, 'a'], [2, 'b']]
r2[] <- [[2, 'B'], [3, 'C']]

?[l1, l2] := r1[a, l1], 
             r2[b, l2]

This is a Cartesian join in relational algebra, as bindings in the rule applications are all distinct.
If bindings are reused, _implicit unification_ occurs, 
which is a join in relational algebra:

In [15]:
r1[] <- [[1, 'a'], [2, 'b']]
r2[] <- [[2, 'B'], [3, 'C']]

?[l1, l2] := r1[a, l1], 
             r2[a, l2] # reused `a`

The unification `=` unifies with a single value. Use `in` to unify with each value within a list in turn:

In [16]:
?[x, y] := x in [1, 2, 3], y in ['x', 'y']

The head of inline rules does not need to use all variables that appear in the body. 
However, any variable in the head must appear in the body at least once (the _safety rule_):

In [17]:
r1[] <- [[1, 'a'], [2, 'b']]
r2[] <- [[2, 'B'], [3, 'C']]

?[l1, l2, x] := r1[a, l1], 
                r2[a, l2]

eval::unbound_symb_in_head

  × Symbol 'x' in rule head is unbound
   ╭─[3:1]
 3 │
 4 │ ?[l1, l2, x] := r1[a, l1],
   ·           ─
 5 │                 r2[a, l2]
   ╰────
  help: Note that symbols occurring only in negated positions are not considered bound

## Stored relations

Persistent relations in Cozo are called _stored relations_.
Creating them are simple:

In [18]:
r1[] <- [[1, 'a'], [2, 'b']]
r2[] <- [[2, 'B'], [3, 'C']]

?[l1, l2] := r1[a, l1], 
             r2[a, l2]
    
:create stored {l1, l2}

The `:create` query option instructs the database to store the result in a stored relation named `stored`, containing the columns `l1` and `l2`.

If you just want to create the relation without adding any data, you can omit the queries. No need to have an empty `?` query.

You can verify that you now have the required stored relation in your system by running a _system op_:

In [19]:
::relations

You can also investigate the columns of the stored relation:

In [20]:
::columns stored

Stored relations can be applied by using an asterisk `*` before the name:

In [21]:
?[a, b] := *stored[a, b]

Unlike relations defined inline, the columns of stored relations have fixed names. 
You can take advantage of this by selectively referring to columns by name,
especially if you have a lot of columns:

In [22]:
?[a, b] := *stored{l2: b, l1: a}

If the binding is the same as the column name, you can omit the binding:

In [23]:
?[l2] := *stored{l2}

After a stored relation is created, use `:put` to insert more data:

In [24]:
?[l1, l2] <- [['e', 'E']]
    
:put stored {l1, l2}

In [25]:
?[l1, l2] := *stored[l1, l2]

Use `:rm` to remove data:

In [26]:
?[l1, l2] <- [['e', 'E']]
    
:rm stored {l1, l2}

In [27]:
?[l1, l2] := *stored[l1, l2]

Use `::remove` (double colon!) to get rid of a stored relation:

In [28]:
::remove stored

In [29]:
::relations

So far, all stored relations store all the data in their _keys_.
You can instruct Cozo to only treat some of the data as keys, thereby indicating a _functional dependency_:

In [30]:
?[a, b, c] <- [[1, 'a', 'A'],
               [2, 'b', 'B'],
               [3, 'c', 'C'],
               [4, 'd', 'D']]

:create fd {a, b => c}

In [31]:
?[a, b, c] := *fd[a, b, c]

Now if you insert another row with an existing key, that row will be updated:

In [32]:
?[a, b, c] <- [[3, 'c', 'CCCCCCC']]

:put fd {a, b => c}

In [33]:
?[a, b, c] := *fd[a, b, c]

You can check whether a column is in a key position by looking at the `is_key` column in:

In [34]:
::columns fd

You may have noticed that columns also have types and default values associated with them, and stored relations can have triggers. These are discussed in the [manual](https://cozodb.github.io/current/manual/stored.html).
We won't overload you with all the complexities in this tutorial.

Before continuing, let's remove the stored relation we introduced:

In [35]:
::remove fd

## Graphs

Now let's consider a graph stored as a relation:

In [36]:
?[loving, loved] <- [['alice', 'eve'],
                     ['bob', 'alice'],
                     ['eve', 'alice'],
                     ['eve', 'bob'],
                     ['eve', 'charlie'],
                     ['charlie', 'eve'],
                     ['david', 'george'],
                     ['george', 'george']]

:replace love {loving, loved}

The graph we have created reads like "Alice loves Eve, Bob loves Alice", "nobody loves David, David loves George, but George only loves himself", and so on. 
Here we used `:replace` instead of `:create`. The difference is that if `love` already exists, it will be wiped and replaced with the new data given.

We can investigate competing interests:

In [37]:
?[loved_by_b_e] := *love['eve', loved_by_b_e], *love['bob', loved_by_b_e]

So far we rule bodies consist of _conjunction_ of atoms only. Disjunction is also available, by using the `or` keyword:

In [38]:
?[loved_by_b_e] := *love['eve', loved_by_b_e] or *love['bob', loved_by_b_e], 
                   loved_by_b_e != 'bob', 
                   loved_by_b_e != 'eve'

Another way to write the same query is to have multiple rule definitions under the same name:

In [39]:
?[loved_by_b_e] := *love['eve', loved_by_b_e], 
                   loved_by_b_e != 'bob', 
                   loved_by_b_e != 'eve'
?[loved_by_b_e] := *love['bob', loved_by_b_e], 
                   loved_by_b_e != 'bob', 
                   loved_by_b_e != 'eve'

When you have multiple definitions of the same inline rule, the rule heads must be compatible. Only inline rules can have multiple definitions.

## Negation

Negation of _expressions_ should be familiar:

In [40]:
?[loved] := *love[person, loved], !ends_with(person, 'e')

Rule applications can also be negated, not with the `!` operator, but with the `not` keyword:

In [41]:
?[loved_by_e_not_b] := *love['eve', loved_by_e_not_b], not *love['bob', loved_by_e_not_b]

There are two sets of logical operations in Cozo, one set that acts on the level of expressions, and another set that acts on the level of atoms:

* For atoms: `,` or `and` (conjunction), `or` (disjunction), `not` (negation)
* For expressions: `&&` (conjunction), `||` (disjunction), `!` (negation)

The difference between `,` and `and` is operator precedence: `and` has higher precedence than `or`, whereas `,` has lower precedence than `or`.

There is a _safety rule_ for negation:

In [42]:
?[not_loved_by_b] := not *love['bob', not_loved_by_b]

eval::unbound_symb_in_head

  × Symbol 'not_loved_by_b' in rule head is unbound
   ╭────
 1 │ ?[not_loved_by_b] := not *love['bob', not_loved_by_b]
   ·   ──────────────
   ╰────
  help: Note that symbols occurring only in negated positions are not considered bound

This query is forbidden because the resulting relation is infinite.
For example, 'gold' should be in the result, since _according to the facts stored in the database_, 
Bob has no interest in 'gold'.

To make our query finite, we have to explicitly give our query a _closed world_:

In [43]:
the_population[p] := *love[p, _a]
the_population[p] := *love[_a, p]

?[not_loved_by_b] := the_population[not_loved_by_b], not *love['bob', not_loved_by_b]

## Recursion

Inline rules can applying other rules, and can have multiple definitions. If you combine these two, you get recursions:

In [44]:
alice_love_chain[person] := *love['alice', person]
alice_love_chain[person] := alice_love_chain[in_person], *love[in_person, person]

?[chained] := alice_love_chain[chained]

You may object that you only need to be able to apply other rules to have recursion, 
without multiple definitions. 
Technically correct, but the resulting queries are not useful::

In [45]:
alice_love_chain[person] := alice_love_chain[in_person], *love[in_person, person]

?[chained] := alice_love_chain[chained]

Similar to the negation case, if there is no way to _deduce_ a fact from the given facts, 
then the fact itself is considered false. 
You need multiple definitions to "bootstrap" the query.

## Aggregation

_Aggregations_ are usually used to compute statistics. In Cozo, aggregations are applied in the head of inline rules:

In [46]:
?[person, count(loved_by)] := *love[loved_by, person]

The usual `sum`, `mean`, etc. are all available. 
Aggregations in the head instead of in the body may seem strange, but is powerful, as we will see later.

Here is the [full list](https://cozodb.github.io/current/manual/aggregations.html) of aggregations for you to play with.

## Query options

We have seem query options like `:create`, `:put`, `:rm` for manipulating stored relations. 
There are also query options for controlling what is returned:

In [47]:
?[loving, loved] := *love{ loving, loved }

:limit 1

Next we want the result to be sorted by `loved` in descending order, then `loving` in ascending order, and skip the first row:

In [48]:
?[loving, loved] := *love{ loving, loved }

:order -loved, loving
:offset 1

Putting `-` in front of variables in `:order` clause denotes reverse order. Nothing or `+` denotes the ascending order.

The full list of query options are explained [here](https://cozodb.github.io/current/manual/queries.html#query-options).

## Fixed rules

The `<-` syntax for constant rules is syntax sugar. The full syntax is:

In [49]:
?[] <~ Constant(data: [['hello', 'world', 'Cozo!']])

Here we are using the _fixed rule_ `Constant`, which takes one _option_ named `data`. The curly tail `<~` denotes a fixed rule.

Fixed rules take input relations as arguments, apply custom logic to them and produce its output relation. 
The `Constant` fixed rule take zero input relations.

If you are using Cozo in browser, `Constant` is the only fixed rule you can use. In all other cases your Cozo would have the graph algorithms module enabled, and all graph algorithms are implemented as fixed rules. As an example, let's find out who is most popular in the `love` graph by using the [PageRank](https://en.wikipedia.org/wiki/PageRank) algorithm:

In [52]:
?[person, page_rank] <~ PageRank(*love[])

:order -page_rank

Here the input relation is the stored relation `*love` (as noted above, you will receive an error if you run this in the WASM implementation).

Each fixed rule is different. Read [this](https://cozodb.github.io/current/manual/algorithms.html) to learn how to use them.

In [53]:
::remove love

## Extended example: the air routes dataset

Now you have a basic understanding of using the various constructs of Cozo, let's deal with a small real-world dataset, with about 3700 nodes and 57000 edges.

The data we are going to use, and many examples that we will present, are adapted from the book [Practical Gremlin](https://kelvinlawrence.net/book/Gremlin-Graph-Guide.html). Gremlin is an imperative query language for graphs, a very different take compared to Datalog.

First, let's create the stored relations we want (wrapping queries in braces allows you to execute several queries together atomically):

In [54]:
{:create airport {
    code: String 
    => 
    icao: String, 
    desc: String, 
    region: String, 
    runways: Int, 
    longest: Float, 
    elev: Float, 
    country: String, 
    city: String, 
    lat: Float, 
    lon: Float
}}
{:create country {
    code: String
    =>
    desc: String
}}
{:create continent {
    code: String
    =>
    desc: String
}}
{:create contain { entity: String, contained: String }}
{:create route { fr: String, to: String => dist: Float }}

The next command applies only if you are using Jupyter notebooks: it downloads a JSON file containing the data and imports it into the database.
The commented out line shows how to do the same thing with a local file. If you are using the Cozo WASM interface, click the "Import from URL" or the "Import from File" icon,
and paste in the address.

In [56]:
%cozo_import_remote_file 'https://raw.githubusercontent.com/cozodb/cozo/dev/cozo-core/tests/air-routes.json'
# %cozo_import_local_file '../../cozo/cozo-core/tests/air-routes.json'

If you feel that the above is too much magic, [here](./data_import.ipynb) is how you can achieve the same thing by parsing CSV files.

Let's verify all the relations we want are there:

In [57]:
::relations

While we are at it, let's lock all these tables to prevent accidentally changing their contents:

In [58]:
::access_level read_only airport, contain, continent, country, route

More information about what this does is explained [here](https://cozodb.github.io/current/manual/sysops.html#ops-for-stored-relations).

Let's just look at some data. Start with airports:

In [59]:
?[code, city, desc, region, runways, lat, lon] := *airport{code, city, desc, region, runways, lat, lon}
    
:limit 5

Airports with the most runways:

In [60]:
?[code, city, desc, region, runways, lat, lon] := *airport{code, city, desc, region, runways, lat, lon}

:order -runways
:limit 10

How many airports are there in total?

In [61]:
?[count(code)] := *airport{code}

Let's get a distribution of the initials of the airport codes:

In [62]:
?[count(initial), initial] := *airport{code}, initial = first(chars(code))

:order initial

More useful are the statistics of runways:

In [63]:
?[count(r), count_unique(r), sum(r), min(r), max(r), mean(r), std_dev(r)] := 
    *airport{runways: r}

Using `country`, we can find countries with no airports:

In [64]:
?[desc] := *country{code, desc}, not *airport{country: code}

The `route` relation by itself is rather boring:

In [65]:
?[fr, to, dist] := *route{fr, to, dist}

:limit 10

It just records the starting and ending airports of each route, together with the distance. This relation only becomes useful when used as a graph.

Airports with no routes:

In [66]:
?[code, desc] := *airport{code, desc}, not *route{fr: code}, not *route{to: code}

Airports with the most out routes:

In [67]:
route_count[fr, count(fr)] := *route{fr}
?[code, n] := route_count[code, n]

:sort -n
:limit 5

How many routes are there from the European Union to the US?

In [68]:
routes[unique(r)] := *contain['EU', fr],
                     *route{fr, to},
                     *airport{code: to, country: 'US'},
                     r = [fr, to]
?[n] := routes[rs], n = length(rs)

How many airports are there in the US with routes from the EU?

In [69]:
?[count_unique(to)] := *contain['EU', fr],
                       *route{fr, to},
                       *airport{code: to, country: 'US'}

How many routes are there for each airport in London, UK?

In [70]:
?[code, count(code)] := *airport{code, city: 'London', region: 'GB-ENG'}, *route{fr: code}

We need to specify the region, because there is another city called London, not in the UK.

How many airports are reachable from London, UK in two hops?

In [71]:
lon_uk_airports[code] := *airport{code, city: 'London', region: 'GB-ENG'}
one_hop[to] := lon_uk_airports[fr], *route{fr, to}, not lon_uk_airports[to];
?[count_unique(a3)] := one_hop[a2], *route{fr: a2, to: a3}, not lon_uk_airports[a3];

What are the cities directly reachable from LGW (London Gatwick), but furthermost away?

In [72]:
?[city, dist] := *route{fr: 'LGW', to, dist},
                 *airport{code: to, city}
:order -dist
:limit 10

What airports are within 0.1 degrees of the Greenwich meridian?

In [73]:
?[code, desc, lon, lat] := *airport{lon, lat, code, desc}, lon > -0.1, lon < 0.1

Airports in a box drawn around London Heathrow, UK:

In [74]:
h_box[lon, lat] := *airport{code: 'LHR', lon, lat}
?[code, desc] := h_box[lhr_lon, lhr_lat], *airport{code, lon, lat, desc},
                 abs(lhr_lon - lon) < 1, abs(lhr_lat - lat) < 1

For some spherical geometry: what is the angle subtended by SFO and NRT on the surface of the earth?

In [75]:
?[deg_diff] := *airport{code: 'SFO', lat: a_lat, lon: a_lon},
               *airport{code: 'NRT', lat: b_lat, lon: b_lon},
               deg_diff = rad_to_deg(haversine_deg_input(a_lat, a_lon, b_lat, b_lon))

We mentioned before that aggregations in Cozo are powerful. They are powerful because they can be used in recursions (some restrictions apply).

Let's find the distance of the _shortest route_ between two airports. One wayis to enumerate all the routes between the two airports, and then apply `min` aggregation to the results. This cannot be implemented as stated, since the routes may contain cycles and hence there can be an infinite number of routes between two airports.

Instead, think recursively. If we already have all the shortest routes between all nodes, we derive an _equation_ satisfied by the shortest route: the shortest route between `a` and `b` is either the distance of a direct route, or the sum of the shortest distance from `a` to `c` and the distance of a direct route from `c` to `d`. We apply our `min` aggregation to this recursive set instead.

Write it out and it works. For exmaple, the shortest routes between the airports `LHR` and `YPO`:

In [76]:
shortest[b, min(dist)] := *route{fr: 'LHR', to: b, dist} 
                          # Start with the airport 'LHR', retrieve a direct route from 'LHR' to b

shortest[b, min(dist)] := shortest[c, d1], # Start with an existing shortest route from 'LHR' to c
                          *route{fr: c, to: b, dist: d2},  # Retrieve a direct route from c to b
                          dist = d1 + d2 # Add the distances

?[dist] := shortest['YPO', dist] # Extract the answer for 'YPO'. 
                                 # We chose it since it is the hardest airport to get to from 'LHR'.

There is a caveat when you try to write similar queries. Say you try to write it in the following way (don't try to run it):

```python
shortest[a, b, min(dist)] := *route{fr: a, to: b, dist} 
shortest[a, b, min(dist)] := shortest[a, c, d1],
                          *route{fr: c, to: b, dist: d2},
                          dist = d1 + d2

?[dist] := shortest['LHR', 'YPO', dist]
```

You will find that the query does not complete in a reasonable amount of time, despite it being equivalent to the original query. Why?

In the changed query, you are asking the database to compute the all-pair shortest path, and then extract the answer to a particular shortest path. Normally Cozo would apply a technique called _magic set rewrite_ so that only the needed answer would be calculated. However, in the changed query the presence of the aggregation operator `min` prevents that. In this case, applying the rewrite to the variable `a` would still yield the correct answer, but rewriting in any other way would give complete nonsense, and in the more general case with recursive aggregations this is a can of worms.

So as explained in the [manual](https://cozodb.github.io/current/manual/execution.html#magic-set-rewrites), magic set rewrites are only applied to rules without aggregations or recursions for the moment, until we are sure of the exact conditions under which the rewrites are safe. So for now at least the database executes the query as written, computing the result of the `shortest` rule containing more than ten million rows (to be exact, 3700 * 3700 = 13,690,000 rows) first!

The bottom line is, be mindful of the cardinality of the return sets of recursive rules.

### A tour of graph algorithms

Now let's investigate the graph using some graph algorithms.
As we have mentioned before, the Cozo running in browsers through WASM does not have
the graph algorithms module enabled, so to run the following examples you will 
need to use some other implementation (for example, [the Python one](https://github.com/cozodb/pycozo)).

Since path-finding is such a common operation on graphs, Cozo has several fixed rules for that:

In [77]:
starting[] <- [['LHR']]
goal[] <- [['YPO']]
?[starting, goal, distance, path] <~ ShortestPathDijkstra(*route[], starting[], goal[])

Not only is it more efficient, but we also get a path for the shortest route.

Not content with the shortest path, the following calculates ten the shortest paths:

In [78]:
starting[] <- [['LHR']]
goal[] <- [['YPO']]
?[starting, goal, distance, path] <~ KShortestPathYen(*route[], starting[], goal[], k: 10)

If efficiency is really important to you, you can use the A* algorithm with a good heuristic function:

In [79]:
code_lat_lon[code, lat, lon] := *airport{code, lat, lon}
starting[code, lat, lon] := code = 'LHR', *airport{code, lat, lon};
goal[code, lat, lon] := code = 'YPO', *airport{code, lat, lon};
?[] <~ ShortestPathAStar(*route[], 
                         code_lat_lon[node, lat1, lon1], 
                         starting[], 
                         goal[goal, lat2, lon2], 
                         heuristic: haversine_deg_input(lat1, lon1, lat2, lon2) * 3963);

There's a lot more setup required in this case: we need to retrieve the latitudes and longitudes of airports and do processing on them first.
The number `3963` above is the radius of the earth in miles.

The most important airports, by PageRank:

In [82]:
rank[code, score] <~ PageRank(*route[a, b])
?[code, desc, score] := rank[code, score], *airport{code, desc}

:limit 10;
:order -score

The following example takes a long time to run since it calculates the betweenness centrality: up to a few seconds, depending on your machine.
Algorithms for calculating the betweenness centrality have high complexity.

In [83]:
centrality[code, score] <~ BetweennessCentrality(*route[a, b])
?[code, desc, score] := centrality[code, score], *airport{code, desc}

:limit 10;
:order -score

These are the airports that, if disconnected from the network, cause the most disruption.
As this example shows, some of the algorithms really struggle when you go beyond small or medium sized dataset.

Community detection can collapse a graph into a _supergraph_.
Here we store the result, since it has too many rows to display nicely:

In [84]:
community[detailed_cluster, code] <~ CommunityDetectionLouvain(*route[a, b])
?[code, cluster, detailed_cluster] := community[detailed_cluster, code], cluster = first(detailed_cluster)

:replace community {code => cluster, detailed_cluster}

We can look at the supernodes containing specific nodes. For example, the supernode for London Gatwick consists of mainly UK and other European airports, as you would expect:

In [85]:
community[code] := *community{code: 'LGW', cluster}, *community{code, cluster}
?[country, count(code)] := 
    community[code], 
    *airport{code, desc, country: country_code}, 
    *country{code: country_code, desc: country},

:order -count(code)
:limit 5

For `JFK` on the other hand, its supernode consists of mainly US airports:

In [86]:
community[code] := *community{code: 'JFK', cluster}, *community{code, cluster}
?[country, count(code)] := 
    community[code], 
    *airport{code, desc, country: country_code}, 
    *country{code: country_code, desc: country},

:order -count(code)
:limit 5

But it does not always work according to geography. For example, Frankfurt airport is in Germany:

In [87]:
?[desc, country_desc] := *airport{code: 'FRA', desc, country: country_code}, *country{code: country_code, desc: country_desc}

But its supernode:

In [88]:
community[code] := *community{code: 'FRA', cluster}, *community{code, cluster}
?[country, count(code)] := 
    community[code], 
    *airport{code, desc, country: country_code}, 
    *country{code: country_code, desc: country},

:order -count(code)
:limit 5

Germany does not even appear in the top five. In fact, `FRA` is in the same supernode as `JFK`. What matters is the connectivity in the graph, not the geography.
As another example:

In [89]:
community[code] := *community{code: 'SIN', cluster}, *community{code, cluster}
?[country, count(code)] := 
    community[code], 
    *airport{code, desc, country: country_code}, 
    *country{code: country_code, desc: country},

:order -count(code)
:limit 5

You'd expect `SIN` to be a Chinese airport. Wrong:

In [90]:
?[desc, country_desc] := *airport{code: 'SIN', desc, country: country_code}, *country{code: country_code, desc: country_desc}

Finally, let's collapse the `route` relation into `super_route`:

In [91]:
?[fr_cluster, to_cluster, count(dist), sum(dist)] := *route{fr, to, dist}, 
                                                     *community{code: fr, cluster: fr_cluster},
                                                     *community{code: to, cluster: to_cluster}
:replace super_route {fr_cluster, to_cluster => n_routes=count(dist), total_distance=sum(dist)}

As expected, the "diagonals" where `fr_cluster == to_cluster` are larger in the `super_route` graph:

In [92]:
?[fr_cluster, to_cluster, n_routes, total_distance] := *super_route{fr_cluster, to_cluster, n_routes, total_distance}, fr_cluster < 2

Now the super graph is small enough that all analytics algorithms return instantly:

In [93]:
?[cluster, score] <~ PageRank(*super_route[])
:order -score
:limit 5

You can now go on to investigate the supernodes, give real-world interpretations to them, etc. 
For example, a naïve interpretation of the above PageRank result is that 
North America is (still) the most prosperous part of the world,
followed by East Asia in the second place, South Asia in the third place, and Europe in the fourth place.

That's it for the tutorial. Now, continue learning with the [Manual](https://cozodb.github.io/current/manual/index.html)!